body {
  padding-top: 20px;
}

.footer {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: transparent;
  background-color: #5BC0DE;
  height: 140px;
}

#footerlogo{
	background: transparent url("image/bg.jpg") center;
	opacity: 0.9;
	background-size: contain;
	width: 150px;
	height: 70px;
	margin: 0 auto;
	margin-top: 1px;
}

#dividen {
	border: 1px solid #CCC;
	margin-top: 3px;
}

#copyright {
	text-align:center;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}

img{
	opacity:0.2;
	max-width: 100%;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #cdddeb;
  text-align: center;
  background-color: #5BC0DE; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5BC0DE), to(#5BC0DE));
  background-image: -webkit-linear-gradient(top, #5BC0DE 0%, #5BC0DE 100%);
  background-image:      -o-linear-gradient(top, #5BC0DE 0%, #5BC0DE 100%);
  background-image:         linear-gradient(to bottom, #5BC0DE 0%,#5BC0DE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5BC0DE ', endColorstr='#5BC0DE',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > li > a:focus,
.nav-justified > li > a:hover {
  color: #FFF;
  background-color: #5BC0DE;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  color: #FFF;
  background-color: #5BC0DE;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

.nav-justified > li > a:hover{
  color: #FFF;
  background-color: #5BC0DE;
  background-image: none;
}

.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
